#user-details {
    width: 80%;
  }

  
  #profile {
  
    margin-top: 20px;
    position: relative;
    left: 5%;
    width: 90%;
    justify-content: space-around;
  
  }
  #profile button {
    height: 70px; 
  }
  #profile img {
    height: 280px;
   
  }
  
  
  .btn-container {
    padding-bottom: 0;
    display: flex;
    align-items: right;
    
  }

  
  img {
    max-width: 18rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
  }